.calendar {
   width: 100%;




    // width: 322px;
    margin: 0;
    text-align: left;
  &__link {
   border: 1px solid #a4a4a4;
      width: 87px;
    text-align: center;
    height: 90px;
    background: #25ba9a;
    cursor: pointer;
    padding: 34px 0;
    margin-bottom: 10px;

    margin-right: 9px;

  color: #fff;
    display: inline-block;
    
    
    
 //    transition: 0.3s;
   
    text-decoration: none;
  &:nth-child(7n) {
    margin-right: 0;
}
    
    &_disabled {

     color: #afafaf;
    background: #cccccc;
 
    cursor: auto;

      
    

    }
  }
    @media(max-width: 991px){


&__link{background: transparent; border: none; color: #616161;  width: calc(100% /7); height: auto; padding: 0; margin-right: 0px}
&__link_disabled{
   color: #c5c5c5; 
}

}
  
}






.nav {
    background: #25ba9a;
    padding: 0px 20px;
   width: 100%;
    color: #fff;
  text-align: center;
    margin-bottom: 20px;
    &__arrow_disable{
      visibility: hidden;
     opacity: 0;
}
&__text{
      display: inline-block;
    padding: 8px 0;
}
  &__arrow{

border: none;
    transform: rotate(90deg);
    height: 19px;
    vertical-align: top;
    width: 24px;
    margin-top: 8px;
    transform-origin: center;



    display: inline-block;
    transition: 0.6s;


    
    cursor: pointer;
    & svg{
      fill: #fff;
    }
  }
&__arrow_next {

    float: right;
    transform: rotate(-90deg);
}
&__arrow_prev {

    transform: rotate(90deg);
    float: left;
   
}


}

