.card {
  padding: 0;

  vertical-align: top;
  margin: 10px 0;
  display: block;
  text-align: left;
  @media(max-width: 768px){
    width: 100%;
  }
  &__date {
    font-size: 16px;
    vertical-align: middle;
    display: inline-block;
    margin-top: 8px;
    margin-top: 9px;
  }
  &__header{
     text-align: center;
    font-size: 12px;
    padding: 0;
    color: #fff;
   
      background: $mainColor;
    &:after{
      content: '';
      display: table;
      clear: both;
    }
  }
  &__content {
    background: transparent;
    border-radius: 0px;
    width: 100%;
   

    &_close{
      max-height: 0;
      overflow: hidden;
      padding: 0 20px;
      opacity: 0;
    }
    &_open{
      max-height: 1000px;
      padding: 20px;
      opacity: 1;
    }
  }
  &__toggle{

     padding: 8px 11px 4px;
    margin: 0;
    vertical-align: middle;
    float: right;
    border-radius: 5px;
    border: none;

    line-height: 1;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    background: transparent;
 
  
    transition: 0.3s;
    &_open .card__toggle-icon {
    transform: rotate(180deg);
    transform-origin: center;
}
  

    &:hover, &:focus {
      outline: none;
      background: rgba(0, 0, 0, 0.14);
    }
  }
 &__toggle-icon{
transform: none;
    border: none;
    padding: 0;
        width: 23px;
    height: 21px;

   display: inline-block;
   transition: 0.6s;
   & svg {
    fill: #fff;
}

  }
  &__add {
     padding: 4px 15px;

    vertical-align: middle;
    float: left;
    
    border-radius: 5px;
    border: none;
   
    font-size: 29px;
    line-height: 1;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    background: transparent;
    &:hover, &:focus {
      outline: none;
      background: rgba(0, 0, 0, 0.14);
    }
  }
}


.toggle-enter {
  max-height: 0;
  overflow: hidden;


}
.toggle-enter.toggle-enter-active {
  max-height: 1000px;
 
  transition: 0.6s ease-in;
}
.toggle-leave {
  max-height: 1000px;
  

}
.toggle-leave.toggle-leave-active {
  max-height: 0;
  overflow: hidden;

  transition: 0.6s ease-out;
}