.header{width: 100%;
  
    margin-bottom: 30px;
    border-radius: 5px 0 0 5px;
    font-size: 15px;
    background-color: $mainColor;
    font-weight: 600;
    color: #fff;
    padding: 15px 0px 15px 20px;
  }