
@keyframes leave{
  90%{
    padding: 0;

    margin: 0;
    max-height: 0;
    border-width: 2px;
  }
  100%{

    margin: 0;
    border-width: 0;
    padding: 0;
    margin: 0;
    max-height: 0;
  }
}

.item {
  max-height: 70px;
  transition: 0.6s ease-in;
  display: block;
  position: relative;
  margin: 5px 0 0;
  border-radius: 10px;
font-size: 12px;
     color: #a4a4a4;

    border: solid 2px $greyColor;
    border-radius: 3px;
    padding: 2px 0;
  svg path {
    fill: inherit;
  }
  &_leave{
  overflow: hidden;
  animation: leave 0.5s forwards;

}
  &__title {
    display: inline-block;
    padding: 5px 5px;

    min-width: 0;
    text-align: left;
  }
  &__price {
    background: transparent;
    display: inline-block;

    width: 75px;
    padding-left: 13px;
  

  }


&_default{
    border-color: $mainColor;
    color: $mainColor;
}
&_total{
  color: #fff;
  background: lighten($mainColor, 20%);
      font-weight: 700;
  
    border-color: $mainColor;
}

&_default &{
  &__percent{
    background: #a8ffec;
  }
}

&__percent{
    content: '';
    top: 0;
    bottom: 0;
    z-index: -1;
    background: #f5f5f5;
    left: 0;
    width: 0%;
    height: 100%;
    position: absolute;
}
  &__update {
    height: 13px;
    width: 14px;
    vertical-align: top;
    cursor: pointer;
    display: inline-block;
    &_green{
      & svg{
        fill: $mainColor
      }
    }
    &_grey{
      & svg{
        color: #a4a4a4;
      }

    }
  }

  &__delete {
    height: 11px;
    width: 12px;
    vertical-align: top;
    cursor: pointer;
    display: inline-block;
    &_green{
      & svg{
        fill: $mainColor
      }
    }
    &_grey{
      & svg{
        color: #a4a4a4;
      }

    }
  }
  &__delete{margin-left: 17px;}
  &__right{
    float: right;
    padding: 5px 10px 0 0 ;
  }

}

