

.item {
  display: block;
  position: relative;
  margin: 5px 0;
  border-radius: 10px;
font-size: 12px;
     color: #a4a4a4;

    border: solid 2px $greyColor;
    border-radius: 3px;
    padding: 2px 0;

  &__title {
    display: inline-block;
    padding: 5px 5px;
    display: table-cell;
    min-width: 0;
    text-align: left;
  }
  &__price {
    background: transparent;
    display: inline-block;
    display: table-cell;
    width: 75px;
    padding-left: 13px;
  

  }


&_default{
    border-color: $mainColor;
    color: $mainColor;
}
&_total{
  color: #fff;
  background: lighten($mainColor, 20%);
      font-weight: 700;
  
    border-color: $mainColor;
}

&_default &{
  &__percent{
    background: #a8ffec;
  }
}

&__percent{
    content: '';
    top: 0;
    bottom: 0;
    z-index: -1;
    background: #f5f5f5;
    left: 0;
    width: 0%;
    height: 100%;
    position: absolute;
}
}
