.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.49);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
  &__error{
    display: block;
    color: #f91f1f;
    font-weight: 600;
    text-align: center;
    height: 20px;
    margin-top: 5px;
  }

  &_open{
    max-height: 100%;
  }
  &__body {
    background: $mainColor;
    max-width: 600px;
    margin: 0 auto;
        margin-top: 100px;
    padding: 0px;
    position: relative;
    border-radius: 10px;
     @media(max-width: 768px){
    width: 100%;
  }
  }
  &__content {
     border-radius: 0;
    background: #fff;
    padding: 10px 10px;
  
  }
  &__add {
    background: rgba(0, 0, 0, 0.14);
    border: none;
    color: #fff;
    line-height: 1;
    font-size: 29px;
     border-radius: 10px 10px 10px 0px;
 
    padding: 2px 12px;
    margin-left: 0px;
    transition: 0.3s;
    cursor: pointer;
    &:hover{
      background: rgba(0, 0, 0, 0.24);
    }
    margin-bottom: 0px;
  }
  &__close {
     background: rgba(0, 0, 0, 0.14);
    border: none;
    color: #fff;
    line-height: 1;
    float: right;
    font-size: 29px;
    position: relative;
    border-radius: 10px;
    padding: 2px 12px;
    margin-left: 10px;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 0px;
    transform: rotate(0deg);


  border-radius: 10px 10px 0px 10px;
    
    padding: 4px 10px 4px;
    line-height: 1;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
  
& span{
  display: inline-block;
  transform: rotate(45deg)
}
  }
  &__marks{
    padding: 5px 10px 20px;
    &_undefault {
      border-top: solid 2px #757575;
    }
  }


  &__input{
    width: 100%;
    border: transparent;
    border-bottom: 2px solid #757575;
    height: 40px;
    text-align: center;
    font-size: 31px;
    color: #757575;
     @media(max-width: 768px){
      font-size: 20px;
    }
    &:focus{
      outline: none;
    }
  }

}


.mark {
 

  display: inline-block;
    padding: 6px 6px;
    border-radius: 6px;
   
    min-width: 23%;
    text-align: center;
    line-height: 1;
    border: none;
    cursor: pointer;
    margin: 3px 1%;
    font-size: 16px;
     background: transparent;
    transition: 0.3s;
   @media(max-width: 768px){
      font-size: 12px;
      min-width: 31%;
    }
  
  &:focus{
    outline: none;
  }
  &_default{

    background: transparent;
    border: 1px solid $mainColor;
    color: $mainColor;
  }
  &_undefault{
    color: #a4a4a4;
        background: transparent;
        border: 1px solid  #a4a4a4;

  }
  &_active{
     background: $mainColor;
      color: #fff;
 border: 1px solid $mainColor;


  }
}

.add-mark {
  border: 1px solid $mainColor;
margin: 3px 1%;
  display: inline-block;
  background: transparent;
   color: $mainColor;
  line-height: 1;
  padding: 4px;
  border-radius: 5px;
 min-width: 23%;
  text-align: center;
  overflow: hidden;
  vertical-align: top;
  height: 27px;
  cursor: pointer;
  transition: 0.3s;
     @media(max-width: 768px){
   
      min-width: 31%;
    }
  &_active{
    height: 52px;
    max-width: 100%;

  }
  &__label{
    padding-bottom: 4px;
    font-size: 20px;
    line-height: 1;

  }
 &__input {
    width: 100%;
        border: 1px solid #25ba9a;
    border-radius: 7px;
    height: 20px;
    padding: 0 5px;
    &:focus{
    outline: none;
    }
  }
}







