

.item {
  max-height: 70px;
  transition: 0.6s ease-in;
  display: block;
  position: relative;
  margin: 5px 0 0;
  border-radius: 10px;
  font-size: 12px;
  color: #909090;
  border: solid 2px $greyColor;
  border-radius: 3px;
  padding: 0;


}

.item svg path {
  fill: inherit;
}

@import "item__delete";
@import "item__persent";
@import "item__price";
@import "item__right";
@import "item__title";
@import "item__update";
@import "item_default";
@import "item_leave";
@import "item_total";