.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.49);
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  max-height: none;
  overflow: hidden;
  transition: 0.3s;

  opacity: 0;
  visibility: hidden;

  &_open{
   opacity: 1;
    visibility: visible;

  }
}



@import 'mark';
@import 'add-mark';
@import 'modal__add';
@import 'modal__body';
@import 'modal__close';
@import 'modal__error';
@import 'modal__marks';
@import 'modal__input';
@import 'modal__content';











