.auth {
  position: fixed;
  background: radial-gradient(#2df5cc 0%, #27d9b4 40%, #20bd9c 100%);
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  right: 0;
  overflow: auto;
  @import 'auth__body';
  @import 'auth__header';
  @import 'auth__input';
  @import 'auth__submit';
  @import 'auth__tooltip';
  @import 'auth__tooltip-item';
}