.card__content {

    background: transparent;
    border-radius: 0px;
    width: 100%;


    &_close{
      max-height: 0;
      overflow: hidden;
      padding: 0 20px;
      opacity: 0;
    }
    &_open{
      max-height: 1000px;
      padding: 20px;
      opacity: 1;
    }

}