.card {
  padding: 0;

  vertical-align: top;
  margin: 10px 0;
  display: block;
  text-align: left;
  @media(max-width: 768px){
    width: 100%;
  }
}
@import 'card__toggle-icon';
@import 'card__toggle';
@import 'card__header';
@import 'card__date';
@import 'card__content';
@import 'card__add';

