body {
  background: #f5f5f5;
  color: #252525;
  font-family: 'Roboto', sans-serif;

}
body.open-modal{
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
    @media(max-width: 768px){
    width: 100%;
  }

}


.color {
  &_0 {
    background-color: #bca2e0;
  }
  &_1 {
    background-color: #d6675b;
  }
  &_2 {
    background-color: #ffd68f;
  }
  &_3 {
    background-color: #86d8a3;
  }
  &_4 {
    background-color: #94bcda;
  }
}


